@use 'utils';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.crm-sign-up-container {
  display: flex;
  align-items: center;

  width: 1040px;
  min-height: 384px;
  border-radius: 28px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;

  @include utils.use-token(background-color, sign-in-container-background-color);
}

.crm-sign-up-footer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
