<div class="crm-sign-up-container">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="mat-display-medium">Create An Buildwell Account</div>
                <div class="mat-body-large">Enter your name</div>
            </div>

            <form class="col-2">
                <div class="row">
                    <mat-form-field class="col-4">
                        <mat-label>First name</mat-label>
                        <input matInput type="text" placeholder="First name" autocomplete="given-name"/>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="col-4">
                        <mat-label>Last name (optional)</mat-label>
                        <input matInput type="text" placeholder="Last name (optional)" autocomplete="family-name"/>
                    </mat-form-field>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-4 crm-sing-up-footer">
                <button mat-flat-button>Next</button>
            </div>
        </div>
    </div>
</div>
