@use 'utils';

.crm-shell-content {
  width: 100%;
  height: 100%;
  padding: 64px 16px 24px 96px;
  box-sizing: border-box;

  @include utils.use-token(background-color, shell-content-background-color);
}

.crm-shell-container {
  width: 100%;
  height: 100%;
  border-radius: 28px;
  box-sizing: border-box;
  overflow: auto;

  @include utils.use-token(background-color, shell-container-background-color);
}
