<a class="rail-navigation-item">
    <span class="rail-navigation-item-icon">
        <mat-icon class="material-symbols-rounded">home</mat-icon>
    </span>

    <span class="rail-navigation-item-label">Home</span>
</a>

<a class="rail-navigation-item">
    <span class="rail-navigation-item-icon">
        <mat-icon class="material-symbols-rounded">group</mat-icon>
    </span>

    <span class="rail-navigation-item-label">Users</span>
</a>

<a class="rail-navigation-item">
    <span class="rail-navigation-item-icon">
        <mat-icon class="material-symbols-rounded">analytics</mat-icon>
    </span>

    <span class="rail-navigation-item-label">Analytics</span>
</a>

<a class="rail-navigation-item">
    <span class="rail-navigation-item-icon">
        <mat-icon class="material-symbols-rounded">monitoring</mat-icon>
    </span>

    <span class="rail-navigation-item-label">Monitoring</span>
</a>
