@use 'utils';

:host {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  position: fixed;
  width: 96px;
  height: 100%;
  padding: 64px 0 24px 0;
  box-sizing: border-box;

  @include utils.use-token(background-color, rail-navigation-background-color);
}

.rail-navigation-item {
  cursor: pointer;
  user-select: none;

  &:hover {
    .rail-navigation-item-icon {
      @include utils.use-token(background-color, rail-navigation-item-hover-icon-background-color);

      .mat-icon {
        font-variation-settings: "wght" 500, "opsz" 24;
      }
    }
  }

  &:focus {
    .rail-navigation-item-icon {
      @include utils.use-token(background-color, rail-navigation-item-focus-icon-background-color);

      .mat-icon {
        font-variation-settings: "wght" 500, "opsz" 24;
      }
    }
  }

  &:active {
    .rail-navigation-item-icon {
      @include utils.use-token(background-color, rail-navigation-item-active-icon-background-color);

      .mat-icon {
        font-variation-settings: "wght" 500, "opsz" 24;
      }
    }
  }

  &.selected {
    .rail-navigation-item-icon {
      @include utils.use-token(background-color, rail-navigation-item-selected-icon-background-color);

      .mat-icon {
        font-variation-settings: "wght" 500, "opsz" 24;
      }
    }
  }
}

.rail-navigation-item-icon {
  display: block;
  width: 56px;
  height: 32px;
  margin: 0 auto;
  padding: 4px 0;
  border-radius: 100px;
  box-sizing: border-box;

  .mat-icon {
    display: block;
    margin: 0 auto;

    @include utils.use-token(color, rail-navigation-item-icon-color);
  }
}

.rail-navigation-item-label {
  display: block;
  text-align: center;
  margin-top: 4px;

  @include utils.use-token(color, rail-navigation-item-label-color);
  @include utils.use-token(font, rail-navigation-item-label-font);
}
