@use 'variables' as *;

@mixin generate-spacing($property, $sides, $suffix) {
  @for $i from 1 through length($spacing-scale) {
    $item: nth($spacing-scale, $i);

    .#{$property}#{$suffix}-#{$i} {
      @if $sides == top {
        margin-top: $item * $spacer;
      } @else if $sides == right {
        margin-right: $item * $spacer;
      } @else if $sides == bottom {
        margin-bottom: $item * $spacer;
      } @else if $sides == left {
        margin-left: $item * $spacer;
      } @else if $sides == x {
        margin-left: $item * $spacer;
        margin-right: $item * $spacer;
      } @else if $sides == y {
        margin-top: $item * $spacer;
        margin-bottom: $item * $spacer;
      } @else {
        margin: $item * $spacer;
      }
    }
  }
}

@include generate-spacing('m', null, '');
@include generate-spacing('m', 'top', 't');
@include generate-spacing('m', 'right', 'r');
@include generate-spacing('m', 'bottom', 'b');
@include generate-spacing('m', 'left', 'l');
@include generate-spacing('m', 'x', 'x');
@include generate-spacing('m', 'y', 'y');

@mixin generate-padding($property, $sides, $suffix) {
  @for $i from 1 through length($spacing-scale) {
    $item: nth($spacing-scale, $i);

    .#{$property}#{$suffix}-#{$i} {
      @if $sides == top {
        padding-top: $item * $spacer;
      } @else if $sides == right {
        padding-right: $item * $spacer;
      } @else if $sides == bottom {
        padding-bottom: $item * $spacer;
      } @else if $sides == left {
        padding-left: $item * $spacer;
      } @else if $sides == x {
        padding-left: $item * $spacer;
        padding-right: $item * $spacer;
      } @else if $sides == y {
        padding-top: $item * $spacer;
        padding-bottom: $item * $spacer;
      } @else {
        padding: $item * $spacer;
      }
    }
  }
}

@include generate-padding('p', null, '');
@include generate-padding('p', 'top', 't');
@include generate-padding('p', 'right', 'r');
@include generate-padding('p', 'bottom', 'b');
@include generate-padding('p', 'left', 'l');
@include generate-padding('p', 'x', 'x');
@include generate-padding('p', 'y', 'y');
