<div style="display: flex; flex-direction: column; align-items: center; gap: 16px; margin-top: 64px">

    <svg #d3root></svg>

    <ng-template #nodeTemplate let-data>
        <foreignObject width="100" height="20">
            <div style="width: 100px; height: 20px;">
                {{ data | json }}
            </div>
        </foreignObject>
    </ng-template>


    <div #d3root2></div>




    <div style="width: 90%; border: 1px solid; padding: 16px; display: flex; gap: 8px; flex-wrap: wrap">
        <h2 style="width: 100%">Editor</h2>

        @if (fetchService.getSteps() | async; as steps) {
            @for (step of steps; track step.id) {
                <mat-card style="width: 100%">
                    <mat-card-header>
                        <mat-card-title>{{ step.title }}</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        @if (step.type === 'select') {
                            @for (answer of fetchService.getStepAnswers(step.id) | async; track answer.id) {
                                <mat-grid-list cols="9">
                                    <mat-grid-tile colspan="4" rowspan="1">
                                        <mat-form-field style="width: 100%">
                                            <mat-label>Answer text</mat-label>
                                            <input matInput [value]="answer.text">
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <mat-grid-tile colspan="4" rowspan="1">
                                        <mat-form-field style="width: 100%">
                                            <mat-label>Next step</mat-label>
                                            <mat-select [value]="answer.nextStep">
                                                @for (nextStep of filter(steps, step); track nextStep.id) {
                                                    <mat-option [value]="nextStep.id">{{ nextStep.title }}</mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>

                                    <mat-grid-tile colspan="1" rowspan="1">
                                        <button mat-icon-button color="warn" (click)="onRemoveClick(answer.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-grid-tile>
                                </mat-grid-list>

                                @if (!$last) {
                                    <mat-divider style="margin: 16px"></mat-divider>
                                }
                            }
                        }


                        @if (step.type === 'input') {
                            <mat-form-field>
                                <mat-label>{{ step.title }}</mat-label>
                                <input matInput [attr.placeholder]="step.title"/>
                            </mat-form-field>
                        }
                    </mat-card-content>

                    <mat-card-footer style="padding: 16px">
                        <button
                                mat-flat-button
                                color="primary"
                                style="width: 100%"
                                (click)="onAddAnswerClick(step.id, filter(steps, step))"
                        >Add</button>
                    </mat-card-footer>
                </mat-card>
            }
        }
    </div>

    <div style="width: 90%; border: 1px solid; padding: 16px; display: flex; gap: 8px; flex-wrap: wrap">
        <h2>Visualizer</h2>

        <button (click)="activeStep = null">Reset</button>

        @if (getStep() | async; as initialStep) {
            <mat-card>
                <h4>{{ initialStep.title }}</h4>

                @if (initialStep.type === 'select') {
                    @if (fetchService.getStepAnswers(initialStep.id) | async; as answers) {
                        @for (answer of answers; track answer.id) {
                            <button (click)="activeStep = answer.nextStep">{{ answer.text }}</button>
                        }
                    }
                }

                @if (initialStep.type === 'input') {
                    <input type="text"/>
                }
            </mat-card>
        }
    </div>
</div>
